@charset "utf-8";

/* Main structual styles */


.header {
	height: 33 %;
	margin-left: 10px;
	margin-right: 10px;
	 text-align: center;
	 border-radius: 50px 50px 50px 50px; 
   background-image: linear-gradient(to bottom right, azure, DeepSkyBlue, azure, DeepSkyBlue);
  box-shadow: 10px 10px 5px grey;

}
#logo1{
	 font-family: "AR JULIAN";
  font-size: 320%;
 color: white;
  text-shadow: 2px 2px 4px #000000;
}
#logo2{
     
	 font-family: "AR CHRISTY";
   color: white;
  text-shadow: 2px 2px 4px #000000;

}
#quote{
	color:azure;
	text-align: center;
	font-family: "AR CHRISTY";
	font-size: 30px;
	text-shadow: 5px 5px 3px DeepSkyBlue;
	padding-top:0px;
}
#top{
	font-size: 60px;
	text-align: center;
		 font-family: "Arial";
   color: white;
	text-shadow: 7px 5px 3px DeepSkyBlue;
}
#wel{
	font-size: 60px;
	text-align: center;
		 font-family: "Arial";
   color: white;
	text-shadow: 7px 5px 3px DeepSkyBlue;
}
#welp{
	font-size: 20px;
	text-align: center;
		 font-family: "Arial";
   color: white;
   	text-shadow: 7px 5px 3px Aquamarine;
}
.contact {
	color:white;
	margin-left: 30%;
	margin-right: 30%;
	 text-align: center;
   background-image: linear-gradient(to bottom right, Aquamarine, DeepSkyBlue, Aquamarine, DeepSkyBlue);
  box-shadow: 10px 10px 5px Aquamarine;
}
#bless{
	padding:50px;
}
@media screen and (max-width: 600px) {
  #quote, #welp{
    font-size: 90%;
  }
}
  
@media screen and (min-width: 601px) {
  #logo2 {
    font-size: 400%;
  }
}

@media screen and (max-width: 600px) {
  #logo2, #logo1, #wel  {
    font-size: 30px;
  }
  #bless{
	  padding: 5px;
  }
}
.container {
  position: relative;
  

}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

body {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	color: black;
 background-color: paleGreen;
}


/* Nav Bar */


ul.topnav {
	  box-shadow: 10px 10px 5px grey;
	  margin-top:1px;
margin-left: 10px;
	margin-right: 10px;
  list-style-type: none;
	 border-radius: 50px 50px 50px 50px; 
  padding: 0;
  overflow: hidden;
   background-image: linear-gradient(to bottom right, azure, DeepSkyBlue, azure, DeepSkyBlue);
  }

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "AR JULIAN";
  font-size: 150%;
  	  text-shadow: 0 0 3px green, 0 0 5px white;

}

ul.topnav li a:hover:not(.active) {background-color: azure; color:Aquamarine;}

ul.topnav li a.active {background-color: Aquamarine;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  
}
footer{
	text-shadow: 2px 2px 4px DeepSkyBlue;
	text-align: center;
	color:white;
	font-family: "Arial";
	font-size: 150%;
	
}
@media screen and (max-width: 600px) {
  footer{
	  font-size: 80%;
  }
}